{% extends "base.html" %}
{% block content %}
<section class="content">
    <div class="projects clearfix">
        <h2>projects</h2>
        <div class="project clearfix">
            <h4><a href="https://github.com/BenDoan/Infinite-Campus-Grade-Scraper">Infinite Campus Grade Scraper</a></h4>
            <img src="{{ SITEURL }}/theme/img/projects/icgs.png" alt="" />
            <ul>
                <li>Contrib: Sole contributor
                <li>Tech: Python
                <li>A script for retrieving grades from an Infinite Campus based website.  Options include the ability to send the grade report as an email using SMTP, daily grade diffs, weekly grade diffs and csv logging of grades.
            </ul>
        </div><!-- project -->
        <div class="project clearfix">
            <h4><a href="https://github.com/OmahaBytes/MW-Resource-Checkout">Millard West Resource Checkout</a></h4>
            <img src="{{ SITEURL }}/theme/img/projects/mwrc.png" alt="" />
            <ul>
                <li>Contrib: Coding, Design
                <li>Tech: PHP, MySQL
                <li>A webapp for scheduling resources like computer labs, lecture halls, conference rooms, etc.  Contains a full admin panel for user and resource management, a resource history viewer and full logging.
            </ul>
        </div><!-- project -->
        <div class="project clearfix">
            <h4><a href="http://www.westwildcats.org/news/">Pawprint Student Newspaper</a></h4>
            <img src="{{ SITEURL }}/theme/img/projects/pawprint.png" alt="" />
            <ul>
                <li>Contrib: Coding, Design
                <li>Tech: PHP, Wordpress
                <li>The Millard West Pawprint student newspaper website.  Implements a widget for listing recent school news reports, a photo of the day and advertisements.
            </ul>
        </div><!-- project -->
        <div class="project clearfix">
            <h4><a href="http://www.sanfordarchitecture.com">Sanford Architecture</a></h4>
            <img src="{{ SITEURL }}/theme/img/projects/sanford.png" alt="" />
            <ul>
                <li>Contrib: Sole contributor
                <li>Tech: PHP, Wordpress
                <li>A portfolio website for an Omaha architecture firm, with a wordpress back-end.  Everything on the site is editable by a user with no technical knowledge.
            </ul>
        </div><!-- project -->
        <div class="project clearfix">
            <h4><a href="https://github.com/BenDoan/BenPad">BenPad</a></h4>
            <img src="{{ SITEURL }}/theme/img/projects/BenPad.png" alt="" />
            <ul>
                <li>Contrib: Sole Contributor
                <li>Tech: C++, QT
                <li>A basic, multiplatform, programming text editor.
            </ul>
        </div><!-- project -->
    </div><!-- projects -->
    <div class="contact">
        <h2>contact</h2>
        <div class="icons">
            <a href="mailto:ben@bendoan.me"><img src="{{ SITEURL }}/theme/img/icons/email.png" alt="" /></a>
            <a href="http://github.com/BenDoan"><img src="{{ SITEURL }}/theme/img/icons/github.png" alt="" /></a>
        </div>
    </div>
</section>
{% endblock %}
