body {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background-color:#005DAA;
    height:100px;
    position:relative;
}

header div.text {
    color:#FFF;
    padding-top:30px;
    font-size:20px;
}

header a img {
    float:left;
    padding-top:15px;
    margin-right:15px;
}

nav li {
   display:inline-block;
}

nav li a {
    text-decoration:none;
    margin: 0 3px;
}

nav li a:hover {
    color:#004F39 !important;
}

nav li a.active {
    color:#004F39 !important;
}

nav li:first-child a {
    margin-left:0;
}

section.content {
}

section.content div.about p {
    margin-left:20px;
}

section.content div.project {
    margin-bottom:20px;
}

section.content div.project img {
    float:left;
    margin-right:5px;
}


section.content div.project {
    margin-left:20px;
}
